* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(68, 1, 1);
    font-family: "Crimson Text", serif;
}

.fotoPerfil {
    width: 18vw;
    height: 28vh;
    object-fit: cover;
}

header {
    border-bottom: 25px solid black;
    display: flex;
    text-align: center;
    padding: 40px;

    background-image: url(assets/fundo.jpg);
    background-attachment: fixed;
    background-size: 200px;
}

.textoHeader {
    height: 100px;
    width: 3000px;
    color: beige;
    background-color: black;
    border-radius: 8px;
}

.textoHeader span {
    color: darkred;
}

.indice {
    background-color: rgba(0, 0, 0, 0.644);
    color: beige;
    border-radius: 5px;
    padding: 20px;
    height: 80%;
}

.indice button {
    color: beige;
    background-color: black;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    width: 250px;
    height: 30px;
}

.indice a {
    color: red;
}

.indice button a:hover {
    background-color: darkred;
    color: black;
}

.indice button:hover {
    background-color: darkred;
    color: black;
}

.indice ul {
    list-style-type: none;
}

main {
    padding: 20px;
    background-color: #400c0f;
    color: antiquewhite;
    display: grid;
    justify-content: center;
}

#sobreMim {
    background-color: rgba(0, 0, 0, 0.225);
    width: 1000px;
    padding: 10px;
    line-height: 28px;
    border-radius: 10px;
    margin: 15px;

}

#sobreMim h3 {
    background-color: black;
    width: 100%;
    justify-content: center;
}

#valores {
    background-color: rgba(0, 0, 0, 0.225);
    width: 1000px;
    padding: 10px;
    line-height: 40px;
    border-radius: 10px;
    margin: 15px 15px 15px 15px;
}

#valores ul li {
    list-style-type: none;
}

#valores h3 {
    background-color: black;
    width: 100%;
    justify-content: center;
}

#conhecimentos {
    background-color: rgba(0, 0, 0, 0.225);
    width: 1000px;
    padding: 10px;
    line-height: 28px;
    border-radius: 10px;
    margin: 15px;

}

#conhecimentos h3 {
    background-color: black;
    width: 100%;
    justify-content: center
}

.ferramentas {
    display: table;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.443);
    padding: 15px;
    width: 80%;
    list-style-type: none;
}

.aprendendo {
    display: table;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.443);
    padding: 15px;
    width: 80%;
    list-style-type: none;
}

#projetos {
    background-color: black;
    color: beige;
    padding: 7px;
}

#projetos h3 {
    color: rgb(0, 0, 0);
    background-color: rgba(139, 0, 0, 0.386);
    width: 98%;
    margin: 10px;
    justify-content: center;

}

#projetos p {
    display: grid;
    justify-content: center;
}

.projetosImg {
    display: grid;
    justify-self: center;
}

h3 {
    display: grid;
    justify-self: center;
}

#processo {
    display: table;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.443);
    padding: 15px;
    width: 80%;
    list-style-type: none;
    margin: 15px;
}

#processo h3 {
    background-color: black;
    width: 100%;
    justify-content: center
}

#processo ol li{
    list-style-type: none;
}

#disponibilidade {
    display: table;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.443);
    padding: 15px;
    width: 80%;
    list-style-type: none;
}

#disponibilidade h3 {
    background-color: black;
    width: 100%;
    justify-content: center
}

footer {
    background-image: url(assets/fundo.jpg);
    background-attachment: fixed;
    background-size: 200px;
    color: aliceblue;
}

.footerImagens {
    display: flex;
    justify-content: center;

}

.footerTexto {
    color: aliceblue;
    display: flex;
    justify-content: center;
}